BODY {
  background : #ccddff;
}
div.body {
  background : #ffffdd;
  border : thin solid #000099;
  margin-left : 0.5em;
  margin-right : 0.5em;
  margin-top : 0.5em;
  margin-bottom : 0.5em;
  padding-left : 1em;
  padding-right : 1em;
  padding-top : 0.5em;
  padding-bottom : 0.5em;
}
